*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */


/* sezione navbar */
.container {
    margin-left: auto;
    margin-right: auto;
}


nav .container {
    border: 1px dashed blue;
    /* test */

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
 }

nav .nav-links-left, nav .nav-links-right {
    flex-grow: 1;
}
nav .nav-links-left ul, nav .nav-links-right ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 12px;
    padding: 8px;
}

nav .login {
    width: 100px;
    text-align: right;
    padding: 10px;
}
/* fine sezione navabr */

/* sezione header */
.big-azure{
    border: 1px dashed red;
    /* test */
    
    justify-content: center;
    height: 765px;
    background-color: #B4D0E7;
}

.title{
    padding: 50px 530px 0px 370px;
}
h1{
    font-size: 60px;
}

p{
    padding: 30px 0px 0px 370px;
}

.big-azure .text-image{
    display: flex;
    justify-content: center;
}

.big-azure .text-image img{
    height: 820px;
    padding: 30px 400px 0px 0px;
}
/* fine sezione header */