*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

/* fonts */
body{
    font-family: 'Open Sans', sans-serif;
}
/* fine fonts */


/* sezione navbar */
.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}


nav .container {
    border: 1px dashed blue;
    /* test */

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
 }

nav .nav-links-left, nav .nav-links-right {
    flex-grow: 1;
}
nav .nav-links-left ul, nav .nav-links-right ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 12px;
    padding: 8px;
}

nav .login {
    width: 100px;
    text-align: right;
    padding: 10px;
}
/* fine sezione navabr */

/* sezione header */
.big-azure{
    border: 2px dashed red;
    /* test */
    
    justify-content: center;
    height: 765px;
    background-color: #B4D0E7;
}

.title{
    padding: 30px 530px 0px 370px;
}
h1{
    font-size: 60px;
}

#text{
    padding: 30px 0px 0px 370px;
    width: 800px;
}

.big-azure .text-image{
    display: flex;
    justify-content: center;
    height: 400px;
}

.big-azure .text-image img{
    height: 100%;
    padding: 30px 400px 0px 0px;
}
/* fine sezione header */


/* sezione con tre colonne all'interno */
.small3-column{
    border: 3px dashed black;
    /* test */
    padding: 60px 470px 0px 470px;
    min-width: 1000px;
}

.ceck-circle{
    display: flex;
    padding: 20px;
    gap: 50px;
}

.colunn3{
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.colunn3 .column-left, .column-central, .column-right{
    border: 4px dashed darkorange;
    height: 500px;
    /* test */
}

/* fine sezione con tre colonne all'interno */


/* inizio sezione enterprise */
.team{
    border: 5px dashed brown;
    /* test */
    padding: 50px 470px 0px 470px;
    text-align: center;
}
.enterprise-buttom{
    border: 5px dashed rgb(42, 165, 71);
    /* test */
    display: flex;
}

.buttom{
    width: 330px;
    padding: 16px;
}

.enterprise{
    text-align: left;
    padding: 16px;
}
/* fine sezione enterprise */


/* inizio sezione foto e testo a destra */
.photo{
    padding: 50px 470px 0px 470px;
    display: flex;
}


.photo-text .photo img{
    width: 620px;
}

.text{
    border: 6px dashed rgb(165, 42, 132)
    /* test */
}
/* fine sezione foto e testoa adestra */


/* inizio sezione 3 colonne in 2 righe */
.small-column6{
    border: 3px dashed black;
    /* test */
    padding: 60px 470px 0px 470px;
}


.colunn6{
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.colunn6 .column-1, 
.colunn6 .column-2, 
.colunn6 .column-3,
.colunn6 .column-4,
.colunn6 .column-5,
.colunn6 .column-6{
    border: 4px dashed darkorange;
    height: 250px;
    width: 310px;
    /* test */
}

/* fine sezione 3 colonne in 2 righe */


