*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */


/* sezione navbar */
.container {
    margin-left: auto;
    margin-right: auto;
}

nav {
    padding: 20px ;
}

nav .container {
    display: flex;
    justify-content: space-between;
 }

nav .nav-links-left, nav .nav-links-right {
    flex-grow: 1;
}
nav .nav-links-left ul, nav .nav-links-right ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 12px;
    padding: 8px;
}

nav .login {
    width: 100px;
    text-align: right;
    padding: 10px;
}
/* fine sezione navabr */